{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <form action="{{ path('add_category') }}" method="post">
        <input type="text" name="category">
        <input type="submit">
    </form>

{% endblock %}
