{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% endblock %}
{% block body %}
    <h1>Добавить видео в коллекцию</h1>
    <form action="{{ path('add_video') }}" method="post">
        <input type="text" name="add_video" placeholder="Вставьте ссылку видео">
        <input type="submit">
    </form>
{% endblock %}