{% extends 'base.html.twig' %}

{% block head %}
    <title>Catalog</title>
    <link rel="stylesheet" href="{{ asset('css/styleMain.css') }}">
{% endblock %}

{% block body %}
    <main>
        <h1>Video catalog</h1>
        <div class="videos">
            {% for video in videos %}
            <div class="content_item">
                <h2><a href="{{ path('show_video', {'youtube_id': video.youtubeId}) }}">{{ video.title }}</a></h2>
                <iframe src="https://www.youtube.com/embed/{{ video.youtubeId }}" frameborder="0"></iframe>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
